<!DOCTYPE html>
<html lang="en">

<head th:fragment="head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>

    <header th:fragment="header">

        <nav class="navbar navbar-expand-lg bg-warning-subtle px-3 justify-content-between align-items-center">

            <div class="d-flex align-items-center gap-2">

                <div class="navbar-brand">Triscas</div>

                <a class="btn d-flex gap-2" th:href="@{/home}">
                    <i class="bi bi-house-fill"></i>
                    <div>Accueil</div>
                </a>

                <a class="btn d-flex gap-2" th:href="@{/home/favorite}">
                    <i class="bi bi-star-fill"></i>
                    <div>Favoris</div>
                </a>

                <a class="btn d-flex gap-2" th:href="@{/annonce/create}">
                    <i class="bi bi-clipboard-plus-fill"></i>
                    <div>Poster une annonce</div>
                </a>

                <a class="btn d-flex gap-2" th:href="@{/category/create}">
                    <i class="bi bi-bookmark-plus-fill"></i>
                    <div>Ajouter une catégorie</div>
                </a>

            </div>

            <div class="d-flex align-items-center gap-2">

                <!-- <div>
                <form action="" class="input-group">
                    <input type="text" class="form-control">
                    <button class="btn btn-outline-secondary"><i class="bi bi-search"></i></button>
                </form>
            </div> -->

                <a class="btn d-flex align-items-center gap-2" th:href="@{/user/login}"><i
                        class="bi bi-person-circle fs-5"></i>Mon compte</a>

            </div>
        </nav>

    </header>

</body>

</html>