<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form annonce</title>
    <th:block th:include="fragments/header.html :: head" />
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

    <header th:replace="fragments/header.html :: header"></header>

    <main class="p-4 d-flex justify-content-center align-items-center">

        <form enctype="multipart/form-data" method="post" th:action="@{/annonce/submit-annonce}"
            class="w-50 d-flex flex-column justify-content-evenly gap-5 p-4 border rounded-2 bg-warning-subtle shadow-sm">

            <h2 class="text-center">Création d'une annonce</h2>

            <div class="d-flex flex-column gap-2">
                <div class="form-floating">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Titre">
                    <label for="title">Titre</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Description" id="description" name="description"
                        style="height: 150px; resize: none;"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>

            <select class="form-select" name="categories" aria-label="Select category" multiple>
                <option selected>Choisissez votre catégorie</option>
                <option th:each="categorie : ${@categoryService.getAll()}" th:value="${categorie.getId()}"
                    th:text="${categorie.getName()}"></option>
            </select>

            <div class="d-flex flex-column">
                <label for="images" class="form-label ps-2">Ajouter une ou plusieurs photos :</label>
                <input class="form-control" type="file" name="images" id="images" multiple>
            </div>

            <div class="text-center">
                <button class="btn btn-warning" style="width: 33%;">Valider</button>
            </div>

        </form>
    </main>
</body>

</html>