<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Form category</title>
    <th:block th:include="fragments/header.html :: head" />
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

    <header th:replace="fragments/header.html :: header"></header>

    <main class="p-4 d-flex justify-content-center align-items-center">

        <form
            class="w-50 d-flex flex-column justify-content-evenly gap-5 p-4 border rounded-2 bg-warning-subtle shadow-sm"
            method="post" th:action="@{/category/submit-category}">

            <h2 class="text-center">Création catégorie</h2>

            <div class="form-floating">
                <input type="text" class="form-control" id="name" name="name" placeholder="Nom catégorie">
                <label for="name">Nom catégorie</label>
            </div>

            <div class="text-center">
                <button class="btn btn-warning" style="width: 33%;">Valider</button>
            </div>

        </form>
    </main>
</body>

</html>