<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoris</title>
    <th:block th:include="fragments/header.html :: head" />
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body style="height: 100vh;">

    <header th:replace="fragments/header.html :: header"></header>

    <main>

        <div class="w-100 d-flex justify-content-center row-gap-4 column-gap-4 flex-wrap p-4">

            <div class="border rounded-4 p-3 d-flex gap-2 shadow bg-light" style="width: 30%; height: 350px;"
                th:each="annonce : ${annonceList}">
                <div class="w-50 h-100 bg-dark-subtle overflow-hidden">
                    <div class="w-100 h-100 d-flex justify-content-center align-items-center"
                        th:each="image : ${annonce.getImages()}">
                        <img alt="" style="flex-shrink: 0; max-height: 100%" th:src="@{/{img}(img=${image.getUrl()})}">
                    </div>
                </div>
                <div class="w-50 h-100 d-flex flex-column gap-2">
                    <div class="bg-body-secondary h-25 fw-bold fs-5 text-center p-1" th:text="${annonce.getTitle()}">
                    </div>
                    <div class="bg-body-tertiary h-100 p-2 overflow-auto" th:text="${annonce.getDescription()}"
                        style="text-align: justify;"></div>
                    <div class="text-center">
                        <button class="btn btn-danger">
                            <i class="bi bi-dash-circle"></i> &nbspRetirer des favoris
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>

</html>