<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <th:block th:include="fragments/header.html :: head" />
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <!--SCSS -->
    <!-- <link rel="stylesheet" th:href="@{/styles/style-heart.scss}"> -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"
        defer></script>
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>

    <header th:replace="fragments/header.html :: header"></header>

    <main class="p-4 d-flex flex-column align-items-center gap-5">

        <form class="w-50 d-flex justify-content-center align-items-center gap-2" th:action="@{/home/search}"
            method="post" style="height: 150px; background: rgba(0, 0, 0, 0.7); border-radius: 20px;">

            <input id="inputSearch" name="title" type="text" placeholder="Que recherchez-vous ?"
                class="text-light rounded-pill px-4 py-2 border-0 fs-5"
                style="width: 80%; background: rgba(128, 128, 128, 0.2);">
            <button id="btnSearch" class="bi bi-search text-light rounded-circle fs-5 border-0 p-2"
                style="width: 46px; background: rgba(211, 211, 211, 0.2);"></button>

        </form>

        <div class="w-100 d-flex justify-content-center row-gap-4 column-gap-5 flex-wrap">

            <!-- Template card -->
            <!-- <div class="border rounded-4 p-3 d-flex gap-2 shadow" style="width: 30%; height: 350px;">
                <div class="w-50 h-100 d-flex justify-content-center align-items-center overflow-hidden">
                    <img src="../static/images/Flash_McQueen_29.jpeg" alt=""
                        style="flex-shrink: 0; min-width: 100%; min-height: 100%">
                </div>
                <div class="w-50 h-100 d-flex flex-column gap-2">
                    <div class="bg-body-secondary h-25 fw-bold fs-5 text-center p-1">Titre annonce</div>
                    <div class="bg-body-tertiary h-100">Texte annonce</div>
                    <div class="text-center">
                        <button class="btn btn-danger">Ajouter aux favoris</button>
                    </div>
                </div>
            </div> -->

            <div class="border rounded-4 p-3 d-flex gap-2 shadow bg-light" style="width: 30%; height: 350px;"
                th:each="annonce : ${annonceList}">
                <div class="w-50 h-100 bg-dark-subtle overflow-hidden">
                    <div class="w-100 h-100 d-flex justify-content-center align-items-center"
                        th:each="image : ${annonce.getImages()}">
                        <img alt="" style="flex-shrink: 0; max-height: 100%" th:src="@{/{img}(img=${image.getUrl()})}">
                    </div>
                </div>
                <div class="w-50 h-100 d-flex flex-column gap-2">
                    <div class="bg-body-secondary h-25 fw-bold fs-5 text-center p-1" th:text="${annonce.getTitle()}">
                    </div>
                    <div class="bg-body-tertiary h-100 p-2 overflow-auto" th:text="${annonce.getDescription()}"
                        style="text-align: justify;"></div>
                    <div class="text-center">
                        <button class="btn btn-danger">
                            <i class="bi bi-plus-circle"></i> &nbspAjouter aux favoris
                        </button>
                    </div>
                </div>
            </div>

            <!-- <div class="border rounded-4 p-3 d-flex gap-2 shadow" style="width: 30%; height: 350px;"
                th:each="annonce : ${annonceList}">
                <div class="w-50 h-100 bg-dark-subtle overflow-hidden">

                    <div id="carouselExample" class="carousel slide w-100 h-100">
                        <div class="carousel-inner w-100 h-100">
                            <div class="carousel-item active w-100 h-100 d-flex justify-content-center align-items-center"
                                th:each="image : ${annonce.getImages()}">
                                <img th:src="@{/{img}(img=${image.getUrl()})}" class="d-block"
                                    style="flex-shrink: 0; max-height: 100%">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
                <div class="w-50 h-100 d-flex flex-column gap-2">
                    <div class="bg-body-secondary h-25 fw-bold fs-5 text-center p-1" th:text="${annonce.getTitle()}">
                    </div>
                    <div class="bg-body-tertiary h-100" th:text="${annonce.getDescription()}"></div>
                    <div class="text-center">
                        <button class="btn btn-danger">
                            <i class="bi bi-plus-circle"></i> &nbspAjouter aux favoris
                        </button>
                    </div>
                </div>
            </div> -->

            <!-- <div class="card mb-3" style="max-width: 540px;" th:each="annonce : ${annonceList}">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div th:each="image : ${annonce.getImages()}">
                            <img th:src="@{/{img}(img=${image.getUrl()})}" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${annonce.getTitle()}"></h5>
                            <p class="card-text" th:text="${annonce.getDescription()}"></p>
                            <p class="card-text"><small class="text-muted"
                                    th:text="${annonce.getDateCreation()}"></small>
                            </p>
                            <input id="toggle-heart" type="checkbox" />
                            <label for="toggle-heart">❤</label>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </main>
</body>

</html>