<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body class="d-flex justify-content-center align-items-center p-2" style="width: 100vw; height: 100vh;">

<form th:action="@{/user/login-submit}" method="post"
      class="w-50 d-flex flex-column justify-content-evenly gap-5 p-4 border rounded-2 shadow-sm"
      style="background: rgb(207, 236, 245)">

    <h2 class="text-center">Connexion</h2>

    <div class="d-flex flex-column gap-2">
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="email">
            <label for="email">Adresse mail</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
            <label for="password">Mot de passe</label>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" style="width: 33%;">Valider</button>
    </div>

    <div class="text-center">Pas encore de compte ? <a th:href="@{/user/register}">Créer un compte</a></div>
</form>
</body>

</html>