body {
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#inputSearch:hover {
    background: rgba(128, 128, 128, 0.3);
}

#inputSearch:focus {
    outline: none;
}

#btnSearch:hover {
    background: rgba(211, 211, 211, 0.3);
}